@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.perspective {
  perspective: 1000px;
}

:root {
  --bg-color: #020d31;        /* fondo oscuro */
  --text-color: #e5e7eb;      /* texto claro */
  --title-color: #ffffff;    /* títulos */
  --accent-color: #2563eb;   /* azul futurista */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

@keyframes spinSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulseEnergy {
  0%,100% { opacity: .25; filter: blur(0px); }
  50% { opacity: .4; filter: blur(1px); }
}

.spin-slow {
  animation: spinSlow 120s linear infinite;
  will-change: transform;
}

.pulse-energy {
  animation: pulseEnergy 6s ease-in-out infinite;
}